[Unit]
Description=Makes Zeek capture parent interface run in promiscuous mode at boot
BindsTo=sys-subsystem-net-devices-{{ zeek_parent_interface }}.device
After=sys-subsystem-net-devices-{{ zeek_parent_interface }}.device
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/sbin/ip link set dev {{ zeek_parent_interface }} up promisc on
ExecStop=/usr/sbin/ip link set dev {{ zeek_parent_interface }} promisc off
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
