[Unit]
Description=Enable promiscuous mode on Zeek VLAN capture interface
After=network.target

[Service]
Type=oneshot
ExecStart=/usr/sbin/ip link set {{ zeek_capture_interface }} up
ExecStart=/usr/sbin/ip link set {{ zeek_capture_interface }} promisc on
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
