[Unit]
Description=Zeek network security monitor
After=network.target bridge-promisc.service vlan-promisc.service
Wants=bridge-promisc.service vlan-promisc.service

[Service]
Type=forking
User=root
ExecStart=/opt/zeek/bin/zeekctl deploy
ExecStop=/opt/zeek/bin/zeekctl stop
ExecReload=/opt/zeek/bin/zeekctl restart
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
