proxmox_endpoint = "https://PROXMOX_IP:8006/"
proxmox_insecure = true
proxmox_api_token = "terraform@pve!provider=IL_TUO_SECRET"

# Template Ubuntu Cloud-Init già presente su Proxmox.
template_vm_id     = 9000
template_node_name = "bn-pvelab02"
datastore_id       = "local"

cloud_init_username = "zeek"
ssh_public_key      = "ssh-ed25519 INSERISCI_LA_TUA_CHIAVE_PUBBLICA"

vms = {
  zeek-tf = {
    # Usiamo un VMID diverso dalla Zeek esistente (100) per il primo test.
    vmid      = 110
    node_name = "bn-pvelab02"

    cores  = 2
    memory = 8192
    disk_size = 50

    cpu_type   = "x86-64-v2-AES"
    full_clone = false
    started    = true
    on_boot    = true

    description = "Passive Zeek sensor - managed by Terraform"

    tags = [
      "monitoring",
      "zeek"
    ]

    # L'ordine conta:
    # networks[0] -> net0 -> management VLAN 10 -> ens18
    # networks[1] -> net1 -> capture trunk/raw -> ens19
    networks = [
      {
        bridge   = "vmbr2"
        vlan_id  = 10
        firewall = false
      },
      {
        bridge   = "vmbr2"
        firewall = false
      }
    ]

    # Cloud-Init configura SOLO la management (prima NIC).
    # La configurazione guest della VLAN 999 su ens19 non viene gestita da Terraform.
    management = {
      ipv4    = "10.3.10.2/24"
      gateway = "10.3.10.1"
    }
  }
}
